[profile.default]

# See more config options https://github.com/foundry-rs/foundry/tree/master/config

solc = "0.8.25"
optimizer = true
optimizer_runs = 100000

evm_version = "cancun"

bytecode_hash = "none"
cbor_metadata = false

remappings = [
    "ethgild/=lib/ethgild/src/",
    "rain.factory/=lib/ethgild/lib/rain.factory/src/",
]